/* 
File Name: Home.css
Student Name: Iuri Melo
Student ID: 301382883
Date: 2024-09-22
*/


.home-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;   
  margin: 0;
}

.welcome-image {
  width: 70%; 
  height: auto; 
}
